@import "normalize.css";

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

  
html,
body {
  padding: 0;
  height: 100%;
}

svg {
  width: 1.25rem;
  padding-right: 5px;
}

.steam-rating {
  display: flex;
  align-items: center;
}

.steam-rating svg {
  padding-left: 5px;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 0;
}

.ag-cell a {
  text-decoration: none; color: black;
  } 

.ag-cell a:hover {
  color: #b18904;
  }
