@import "normalize.css";

@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html,
body {
  padding: 0;
  height: 100%;
}

.ag-cell svg {
  width: 1.25rem;
  padding-right: 5px;
}

.rating {
  display: flex;
  align-items: center;
}
.rating svg {
  padding-left: 5px;
}

.ag-theme-alpine .ag-root-wrapper {
  border-radius: 0;
}

.ag-cell {
  white-space: normal !important;
  line-height: 20px !important;
  padding: 10px 0px 10px 0px;
}
.ag-cell a {
  display: block;
  text-decoration: none;
  color: #b18904;
}
.ag-cell a:hover {
  text-decoration: underline;
}

.ag-theme-alpine .ag-header-cell,
.ag-theme-alpine .ag-header-group-cell {
  padding-left: 11px;
  padding-right: 11px;
}
.ag-theme-alpine .ag-cell,
.ag-theme-alpine .ag-row > .ag-cell-wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.vendor-apple .ag-theme-alpine.data-grid {
  position: relative;
}
.vendor-apple .ag-theme-alpine.data-grid .ag-root-wrapper {
  position: absolute;
  max-width: 100%;
}
